* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 3rem;
}

.header-logo {
  font-weight: 700;
  margin-left: 18.5rem;
}

header ul {
  display: flex;
  list-style-type: none;
  width: 21rem;
  justify-content: space-between;
  margin-right: 18.3rem;
}

/* SUBHEADER */
subheader {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.leftside-sh {
  width: 30%;
}

.rightside-sh {
  background-color: grey;
  padding: 5rem;
  width: 30%;
  /* margin-right: 2rem; */
  display: flex;
  justify-content: center;
  height: 14rem;
  align-items: center;
}

.leftside-sh h1 {
  font-size: 48px;
}

.leftside-sh p {
  font-size: 18px;
  width: 75%;
}

.leftside-sh button {
  background-color: #3882f6;
  color: white;
  font-weight: 700;
  font-size: 15px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 8px;
  margin-top: 0.5rem;
}

/* SUBHEADER */

.random-info-section {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0 auto; */
}

.info-boxes {
  color: grey;
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
  font-size: 20px;
  gap: 3rem;
  list-style: none;
  width: 50rem;
}

.box {
  border: 3px solid #3882f6;
  height: 10rem;
  width: 10rem;
  border-radius: 12px;
}

.info-boxes li {
  width: 10rem;
}

.info-box-text {
  font-size: 18px;
  padding-top: 2rem;
  text-align: center;
  font-weight: 300;
}
